<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.iu.s1.cart.cartDAO">
  <insert id="setCartAdd" parameterType="CartDTO">
  	INSERT INTO CART VALUES(CART_SEQ.NEXTVAL,#{id},#{productNum},#{count},#{optionNum},#{price})
  </insert>
  
  <select id="getCartPrice" parameterType="CartDTO" resultType="Long">
  	SELECT PRODUCTPRICE FROM PRODUCTOPTION WHERE OPTIONNUM=#{optionNum}
  </select>
  <select id="getCartCount" parameterType="MemberDTO" resultType="Long">
  	SELECT COUNT(NUM) FROM CART WHERE ID=#{id}
  	</select>
  	
  	<select id="getCartList" parameterType="MemberDTO" resultType="CartDTO">
  	SELECT * FROM CART WHERE ID=#{id}
  </select>
  <delete id="setCartDelete" parameterType="Long">
  	DELETE CART WHERE NUM=#{num}
  </delete>
  <update id="setCartUpdate" parameterType="CartDTO">
  	UPDATE CART SET COUNT=#{count} WHERE NUM=#{num}
  </update>
  <select id="setCartOptionName" parameterType="Long" resultType="String">
  		SELECT OPTIONVALUE FROM PRODUCTOPTION WHERE OPTIONNUM=#{optionNum}
  	</select>
  	<select id="setCartOptionRef" parameterType="Long" resultType="Long">
  		SELECT REF FROM PRODUCTOPTION WHERE OPTIONNUM=#{optionNum}
  	</select>
  </mapper>