<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.iu.s1.product.ProductDAO">
  	
  	<sql id="Condition">
  	
  	<if test="kind == 'contents'">
  		<trim prefix="where">
  			PRODUCTNAME LIKE '%'||#{search}||'%'
  		</trim>
  	</if>
  	
  </sql>
  
  <select id="getTotalCount" parameterType="Pager" resultType="Long">
  	SELECT COUNT(PRODUCTNUM) FROM PRODUCT
  	<include refid="Condition"></include>
  </select>
  	
  	
  	<select id="getProductList" parameterType="Pager" resultType="ProductDTO">
  		SELECT * FROM
  		(SELECT ROWNUM R,P.* FROM
  		(SELECT * FROM PRODUCT
  		<include refid="Condition"></include>
  		ORDER BY PRODUCTNUM ASC) P)
  		WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	<select id="getProductDetail" resultMap="productDetails" parameterType="ProductDTO">
  		SELECT * FROM PRODUCT 
  									LEFT JOIN
  									PRODUCTFILES
  									USING(PRODUCTNUM)
  									LEFT JOIN
  									PRODUCTOPTION
  									USING(PRODUCTNUM)
  									LEFT JOIN
  									PRODUCTCATEGORY
  									USING(PRODUCTNUM)
  									LEFT JOIN
  									CATEGORY
  									USING(CATEGORYNUM)
  		WHERE PRODUCTNUM = #{productNum}
  	</select>
  	<resultMap type="ProductDTO" id="productDetails">
  		<id column="PRODUCTNUM" property="productNum"/>
  		
  		<result column="ID" property="id"/>
  		<result column="PRODUCTNAME" property="productName"/>
  		<result column="DISCOUNT" property="discount"/>
  		<result column="DISCOUNTPERCENT" property="discountPercent"/>
  		<result column="PRODUCTSALES" property="productSales"/>
  		
  		<collection property="productOptionDTOs" javaType="List" ofType="ProductOptionDTO">
  			<id column="OPTIONNUM" property="optionNum"/>
  			<result column="OPTIONNAME" property="optionName"/>
  			<result column="OPTIONVALUE" property="optionValue"/>
  			<result column="PRODUCTPRICE" property="productPrice"/>
  			<result column="PRODUCTSTOCK" property="productStock"/>
  			<result column="REF" property="ref"/>
  			<result column="DEPTH" property="depth"/>
  			<result column="STEP" property="step"/>
  		</collection>
  		
  		<collection property="productFileDTOs" javaType="List" ofType="ProductFileDTO">
  			<id column="FILENUM" property="fileNum"/>
  			<result column="FILENAME" property="fileName"/>
  			<result column="ORINAME" property="oriName"/>
  		</collection>
  		
  		<collection property="categorieDTOs" javaType="List" ofType="CategoryDTO">
  			<id column="CATEGORYNUM" property="categoryNum"/>
  			<result column="CATEGORYNAME" property="categoryName"/>
  		</collection>
  	</resultMap>
  	
  	<insert id="setProductOptionAdd" parameterType="ProductOptionDTO">
  	<selectKey order="BEFORE" resultType="Long" keyProperty="optionNum">
  	SELECT PRODUCTOPTION_SEQ.NEXTVAL FROM DUAL
  	</selectKey>
  		INSERT INTO PRODUCTOPTION VALUES (#{optionNum},#{productNum},#{optionName},#{optionValue},#{productPrice},#{productStock},#{ref},#{depth})
  	</insert>
  	<insert id="setProductAdd" parameterType="ProductDTO">
  		<selectKey order="BEFORE" resultType="Long" keyProperty="productNum">
  	SELECT PRODUCT_SEQ.NEXTVAL FROM DUAL
  	</selectKey>
  		INSERT INTO PRODUCT VALUES(#{productNum},#{productName},#{discount},#{discountPercent},#{productSales},#{id})
  	</insert>
  	<insert id="setProductCategoryAdd" parameterType="CategoryDTO">
  	INSERT INTO PRODUCTCATEGORY VALUES(#{productNum},#{categoryNum})
  	</insert>
  	
  	<select id="getProductOptionNum" parameterType="ProductOptionDTO" resultType="Long">
  		SELECT MAX(OPTIONNUM) FROM PRODUCTOPTION WHERE OPTIONVALUE = #{optionValue}
  		
  	</select>
  	<update id="setProductOptionUpdate" parameterType="ProductOptionDTO">
  		UPDATE PRODUCTOPTION SET PRODUCTPRICE=#{productPrice} WHERE OPTIONNUM=#{ref}
  	</update>
  	<update id="setProductOptionRefUpdate" parameterType="ProductOptionDTO">
  		UPDATE PRODUCTOPTION SET REF=#{ref} WHERE OPTIONNUM=#{optionNum}
  	</update>
  	<insert id="setProductFileAdd" parameterType="ProductFileDTO">
  		INSERT INTO PRODUCTFILES VALUES(PRODUCTFILES_SEQ.NEXTVAL,#{productNum},#{fileName},#{oriName})
  	</insert>
  	<select id="getProductOptionList" parameterType="ProductOptionDTO" resultType="ProductOptionDTO">
  		SELECT * FROM PRODUCTOPTION WHERE PRODUCTNUM=#{productNum} AND REF=#{ref} AND DEPTH=#{depth}
  	</select>
  	<select id="getCartCount" parameterType="MemberDTO" resultType="Long">
  	SELECT COUNT(NUM) FROM CART WHERE ID=#{id}
  	</select>
  	<delete id="setProductFileDelete" parameterType="Long">
  		DELETE PRODUCTFILES WHERE FILENUM=#{fileNum}
  	</delete>
  	<update id="setProductUpdate">
  		UPDATE PRODUCT SET PRODUCTNAME=#{productName},DISCOUNT=#{discount}, DISCOUNTPERCENT=#{discountPercent},PRODUCTSALES=#{productSales} WHERE PRODUCTNUM=#{productNum}
  	</update>
  	<delete id="setProductDelete">
  		DELETE PRODUCT WHERE PRODUCTNUM=#{productNum}
  	</delete>
  	<delete id="setProductOptionDelete" parameterType="Long">
  		DELETE PRODUCTOPTION WHERE OPTIONNUM=#{optionNum}
  	</delete>
  	<delete id="setCategoryDelete" parameterType="Long">
  		DELETE PRODUCTCATEGORY WHERE PRODUCTNUM=#{productNum}
  	</delete>
  	<select id="getProductOptionListDelete" parameterType="ProductDTO" resultType="ProductOptionDTO">
  		SELECT * FROM PRODUCTOPTION WHERE PRODUCTNUM=#{productNum} AND REF=0 AND DEPTH=0
  	</select>
  	<delete id="setProductOptionDeletes" parameterType="Long">
  		DELETE PRODUCTOPTION WHERE PRODUCTNUM=#{productNum}
  	</delete>
  	<select id="setProdutOptionRef" parameterType="Long" resultType="Long">
  		SELECT OPTIONNUM FROM PRODUCTOPTION WHERE REF=#{optionNum}
  	</select>
  </mapper>